@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-100: #f2f8f7;
  --primary-color-200: #dff1f0;
  --primary-color-250: #01c7bd;
  --primary-color-300: #00aaa1;
  --primary-color-400: #029b93;
  --outline-color: #999999;

  --text-primary-color: #222222;
  --text-secondary-color: #333333;
  --text-tertiary-color: #555555;
  --text-tag-color: #666666;
  --text-meta-color: #777777;
  --text-error-color: #dc2626;
}

body {
  color: var(--text-tertiary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text-primary;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  h5,
  h6 {
    @apply font-medium;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }
}
